{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block icon %} <link href="{% static 'imagenes/miniatura.png' %}" rel="icon" type="image/png"> {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% block style %} 
    <link href="{% static 'css/1.css' %} " rel="stylesheet" type="text/css">

    {% endblock %}
    {% block title %} <title> Ground Zero </title> {% endblock %}
</head>
{% include 'navbar.html' %}
<body>
    
    {% block content %}

    {% endblock %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script> 
    {% endblock %}
</body>
{% include 'footer.html' %}
</html>