{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<script defer src=""></script> 
<header class="header">
    <div class="container">
        <nav class="nav fixed-top">
            <a href="/" class="logo nav-link2" aria-label="Logo de la cooperativa">
                <img src="{% static 'imagenes/4f7f831d8b2b9be55ab2366eaaf32f77.jpeg' %}" title="logo">
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu nav-menu_visible">
                <li class="nav-menu-item">
                    <a href="/" class="nav-menu-link nav-link2 nav-menu-link_active">Inicio</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/mision/" class="nav-menu-link nav-link2 nav-menu-link_active">Misión</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/galeriap/" class="nav-menu-link nav-link2 nav-menu-link_active">Galería</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/formulario/" class="nav-menu-link nav-link2 nav-menu-link_active">Formulario</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/mapa/" class="nav-menu-link nav-link2 nav-menu-link_active">Mapa</a>
                </li>
                {% if user.is_authenticated %}
                <li class="mensajebienvenida">
                    <a>Hola, {{user.username}}</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/logout/" class="nav-menu-link nav-link2 nav-menu-link_active">Cerrar Sesion</a>
                </li>
                {% else %}
                <li class="nav-menu-item">
                    <a href="/signup/" class="nav-menu-link nav-link2 nav-menu-link_active">Registrarse</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/signin/" class="nav-menu-link nav-link2 nav-menu-link_active">Iniciar Sesion</a>
                </li>
                {% endif %}
                <div class="form-inline my-2 my-lg-0">
	     	
                    <a href="{% url 'cart' %}">
                       <img  id="cart-icon" src="{% static 'imagenes/cart.png' %}">
                   </a>
                   <p id="cart-total">{{ cart.get_cart_items }}</p>
       
               </div>        
            </ul>
        </nav>
    </div>
</header>
