{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>CALAMUS ♳ PET</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">CALAMUS ♳ PET</h1>
    <img src="{% static 'imagenes/Esculturas/recicladocalamar-tapas-01.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Materiales reciclados principalmente hechos de plástico, fueron recolectados para dar vida a una criatura marítima colosal como lo es la especie “Teuthida”, coloquialmente apodado Calamar. Nuestros artistas exponen al espectador ante la dualidad que existe entre las colonias de orden submarino y la principal causa de su contaminación, y porqué no, futura extinción.</h2>
<p>En un rincón olvidado de la ciudad, un grupo de artistas visionarios se reunió para dar vida a una creación única y provocadora: un calamar de plástico colosal. Utilizando materiales reciclados principalmente de plástico, dieron forma a esta criatura marítima imponente que se alzaba majestuosamente frente al horizonte.

    La escultura del calamar, apodado "Teuthida" en honor a su contraparte real, buscaba transmitir un mensaje poderoso al espectador. Representaba la dualidad entre la majestuosidad de las colonias submarinas de calamares y la realidad desoladora de la contaminación plástica que amenaza su existencia. 
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>
    
    
{% endblock %}