{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>My Biggest Friend</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">My Biggest Friend</h1>
<img src="{% static 'imagenes/Esculturas/Artur-Bordalo.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Una obra que nace desde escombros y desechos que se han reutilizado para poder ser levantada por el autor. Nos recuerda la fragilidad de nuestros sentimientos y emociones mientras nos enternece con el recuerdo de su mejor amigo.</h2>
<p>En un rincón abandonado de la ciudad, un artista con el corazón lleno de nostalgia encuentra consuelo entre los escombros y desechos. Su mirada se posa en los restos de lo que una vez fue un lugar vibrante y lleno de vida, y en medio de ese caos, ve una oportunidad para honrar el recuerdo de su mejor amigo, un gato amado que ha partido.
    Con cada detalle cuidadosamente esculpido, el artista busca reflejar la esencia y personalidad de su querido compañero felino. Los ojos del gato de escombros parecen contener la misma mirada tierna y profunda que el artista recuerda con cariño. La postura del gato captura la misma elegancia y curiosidad que es la marca distintiva de su fiel amigo.
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>

    
{% endblock %}