{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>Caballos Plasticos</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">Caballos de Plastico</h1>
    <img src="{% static 'imagenes/esculturas/caballosdeajedrez.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Cuando ya no quede vida en esta tierra, sólo quedarán caballos de plástico.</h2>
<p>En un futuro lejano, cuando la humanidad se ha extinguido y la Tierra ha quedado desolada, los caballos de plástico se alzan como los últimos testigos silenciosos de una época pasada. Estas esculturas majestuosas, creadas por manos humanas con amor y dedicación, se convierten en monumentos inmortales que resisten el paso del tiempo y los elementos.
    Cada escultura de caballo de plástico es única, reflejando la visión y el talento de diferentes artistas y escultores del pasado. Algunos muestran caballos enérgicos galopando hacia el horizonte, mientras que otros capturan la elegancia y la calma de un caballo en reposo. Estas obras maestras de plástico son inmutables y eternas, sin la fragilidad de sus contrapartes vivas.
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>

{% endblock %}