{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>Tsunamusic</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">Tsunamusic</h1>
<img src="{% static 'imagenes/Esculturas/tsunamusic.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Olas de ritmo y música en una marea aplastante. Un toque de nostalgia al recordarnos la desechabilidad de la industria, nuestros artistas recolectaron diversas piezas musicales convertidas en vinilos para revivir el arte manual.</h2>
<p>En una exhibición de arte al aire libre, una escultura surreal y cautivadora llama la atención de los espectadores: una ola hecha de vinilos. La imponente ola de vinilos se alza majestuosamente, capturando la esencia misma del movimiento y la energía del mar.

    Los vinilos, cuidadosamente dispuestos uno encima del otro, crean una sinfonía de colores y texturas que evocan la espuma y la fuerza de una ola en pleno apogeo. Cada vinilo es una obra de arte en sí mismo, con portadas de álbumes famosos y canciones que se mezclan en un arco iris musical.
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>

    
{% endblock %}