{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>Cosmos</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">Cosmos</h1>
    <img src="{% static 'imagenes/Pinturas/848cd0a3e5a89113d879c8f49552ae75.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >El cosmos pareciera ser el todo, la nada, la vida. El orden y desorden en la totalidad de la existencia. El caos de lo infinito, lo que fué y será.</h2>
<p>En el lienzo de la eternidad, una pintura del cosmos cobra vida, capturando la inmensidad y la magia del universo. El artista logra transmitir la esencia misma del todo y la nada, la dualidad de la vida y la muerte, el orden y el caos, que coexisten en la vastedad del espacio.
    La pintura del cosmos es un viaje a lo desconocido, una ventana hacia lo infinito. La paleta de colores se mezcla en un torbellino de tonos y matices que evocan la profundidad de las galaxias, las nebulosas brillantes y las estrellas danzantes.
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>
    
    
{% endblock %}