{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>HangedMan</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">HangedMan</h1>
<img src="{% static 'imagenes/OIP.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Un hombre de metal colgado, suspendido en el aire, parece desafiar la gravedad con su pose enigmática y cautivadora.</h2>
<p style="text-align: center;"> Cada detalle de la escultura refleja la fuerza y vulnerabilidad del ser humano, creando una obra que evoca una mezcla de intriga y reflexión.</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>
    
    
{% endblock %}