{% extends "galeria/base.html" %}
{% load static %}
{% block title %} <title>AllAtOnce</title> {% endblock %}
{% block content %}
<h1 style="text-align: center; margin-bottom: 50px; padding-top: 10px;">AllAtOnce</h1>
<img src="{% static 'imagenes/Pinturas/arte-abstracto-1-e1567041620165.jpg' %}" width="100%" height="600px">
<h2 style="text-align: center;" >Te ha pasado que 1, 2, 3 y ¡Pensamiento intrusivo! En ground 0 experimentamos llevando la salud mental a nuestros pinceles, ya que a nivel mundial, se calcula que 4,4% de la población sufre un trastorno depresivo y un 3,6% de trastorno por ansiedad.</h2>
<p>En la vastedad de la mente humana, una pintura abstracta cobra vida, capturando la complejidad y la intrincada danza de los pensamientos. Cada trazo y cada salpicadura de color reflejan la experiencia del pensar, un viaje incesante que a veces se ve interrumpido por pensamientos intrusivos, como pequeñas chispas que irrumpen en el lienzo mental.

    La pintura abstracta sobre la mente es una expresión única de la salud mental y su complejidad. En Ground 0, los artistas llevan la esencia de la salud mental a sus pinceles, destilando los desafíos y las experiencias que enfrenta la mente humana a nivel mundial.
</p>
<h3 style="text-align: center;">Precio: $1.000.000 CLP</h3>

    
{% endblock %}